@charset "UTF-8";

	body {
		background-color:#B6C3D3;
	}

	#wrapper {
		width:1200px;
		margin-top:30px;
		margin-right:auto;
		margin-left:auto;
	}
	
	header {
		background-color:#FFFFFF;
		font-family:Georgia;
		color:#2F3D5E;
		letter-spacing:5px;
		text-align:center;
		padding:1px 0px 1px 0px;
	    margin:10px 50px 20px 50px;

	}
	
	#main {
		background-color:#FFFFFF;
		float:right;
		width:60%;
		height:250px;
		font-family:Verdana;
		color:#403D54;
		font-size:14px;
		line-height: 22px;
		/*padding: adds space around content within the border*/
		padding:25px;
		/*margin: creates transparent space around border, opp of padding*/
		margin: 10px 50px 20px 0px
	}
	
	#sidebar {
		background-color:#FFFFFF;
		float:left;
		width:20%;
		height:250px;
		font-family:Verdana;
		color:#403D54;
		font-size:14px;
		line-height:22px;
		text-align:center;
		/*padding: adds space around content within the border; 1 argument adds 25 to all four sides*/
		padding:25px;
		margin: 10px 0px 20px 50px
	}
	
	footer {
		background-color:#2F4666;
		clear:both;
		padding:15px 0px 15px 0px; /*example of padding with four arguments: TOP, RIGHT, BOTTOM, LEFT*/
		font-family:Verdana;
		font-size:11px;
		color:#FFFFFF;
		text-align:center;
	    margin:0px 50px 0px 50px;

	}
	
